body{
    overflow: hidden;
}

#navbar{
    background-color: rgb(200, 235, 238);
display:flex;
justify-content: flex-end;
gap: 2em;
padding-top: 1em;
padding-bottom: 1em;
}

#main{
     background-color: rgb(227, 184, 227);
display: flex;
height: 100%;
}

.nav-link {
    color: rgb(173, 173, 173);
}

.nav-link a{
    text-decoration: none;
    color:rgb(142, 50, 150);
    text-shadow: 0.1em 0.1em 0.2em rgba(77, 8, 77, 0.538);
}

.nav-link a:hover {
    text-decoration: underline; 
    color:rgb(84, 18, 84)
}

#left-col {
    background-color: rgb(172, 172, 242);
width: 50%;}
#right-col {
    background-color: rgb(255, 140, 188);
width: 50%;}

#hero{
}

.secret-link {
    position: fixed;
    top:1.5em;
    right:25em;
        text-decoration: none;
    color:rgb(142, 50, 150);
    text-shadow: 0.1em 0.1em 0.2em rgba(77, 8, 77, 0.538);
cursor: pointer; 
}
#stylish{
    font-size: 2em;
}