body{
    overflow: hidden;
         background-color: rgb(227, 184, 227);

}

#navbar{
    background-color: rgb(200, 235, 238);
display:flex;
justify-content: flex-end;
gap: 2em;
padding-top: 1em;
padding-bottom: 1em;
}

#main{
display: flex;
height: 100%;
position: fixed;
    background: white;
    height: 30em;
    width: 40em;
    justify-self: center;
    align-self: anchor-center;
    border-radius: 10em;
    box-shadow: 0.3em .3em;
}

.nav-link {
    color: rgb(173, 173, 173);
}

.nav-link a{
    text-decoration: none;
    color:rgb(142, 50, 150);
    text-shadow: 0.1em 0.1em 0.2em rgba(77, 8, 77, 0.538);
}

.nav-link a:hover {
    text-decoration: underline; 
    color:rgb(84, 18, 84)
}

#left-col {
    background-color: rgb(172, 172, 242);
width: 50%;}
#right-col {
    background-color: rgb(255, 140, 188);
width: 50%;}

#hero{
    height: 100%;
}

.secret-link {  transition: all 0.3s;
    position: fixed;
    top:1.5em;
    right:27em;
        text-decoration: none;
    color:rgb(142, 50, 150);
    text-shadow: 0.1em 0.1em 0.2em rgba(77, 8, 77, 0.538);
cursor: pointer; 
}
#stylish{
    font-size: 2em; 
    transition: all 0.3s;
}
.game-container{
display: flex;
height: 100%;
position: fixed;
    background: white;
    height: 30em;
    width: 40em;
    justify-self: center;
    align-self: anchor-center;
    border-radius: 10em;
    box-shadow: 0.3em .3em;

}
