#title {
    font-size: 7em;
    text-align: center;
    font-family: cursive;
    background: lightpink;
    width: 100%;
}

.content {
    font-size: 3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%
}

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}