#navbar{
    background-color: rgb(200, 235, 238);
display:flex;
justify-content: flex-end;
gap: 2em;
padding-top: 1em;
padding-bottom  1em;
}

#main{
     background-color: rgb(227, 184, 227);
display: flex;
height: 100%;
}

.nav-link{background-color:rgb(237, 192, 186);
}
#left-col {
    background-color: rgb(172, 172, 242);
width: 50%;}
#right-col {
    background-color: rgb(255, 140, 188);
width: 50%;}